@model MyCBTS.IDP.Login.Models.ForgotPasswordModel
@using Microsoft.Extensions.Options
@using MyCBTS.IDP.Login.Configuration
@inject IOptions<AppConfiguration> appConfiguration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var brandName = Model.BrandName;
    ViewData["Title"] = "Reset Password - My " + brandName;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/assets/css/app.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12">
                <div class="spacer py-2 my-3"></div>
                @if (Model.BrandName == EnumList.BrandName.ONX.ToString())
                {
                    <div class="cb-logo text-center mt-5">
                        <img class="cb-logo-no-nav" src="~/assets/img/onx-reverse-logo.png">
                    </div>
                }
                else
                {
                    <div class="cb-logo text-center mt-5">
                        <img class="cb-logo-no-nav" src="~/assets/img/cbts-logo.png">
                    </div>
                }
            </div>

            <div class="col-12">
                <div class="cb-form">
                    <div class="spacer py-2 my-3"></div>
                    @using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post, new { @class = "form needs-validation form_standard mt-5 cb-px-md py-5 mx-auto" }))
                    {                       
                        @Html.HiddenFor(user => user.BrandName)
                        @Html.HiddenFor(user => user.token)
                        @if (Model.CustomErrors?.Errors?.Count > 0)
                        {
                            <div class="form-group" style="margin-bottom:0;">
                                @{await Html.RenderPartialAsync("_CustomErrors", Model.CustomErrors);}
                            </div>
                        }
                        <h2 class="py-3 text-center">Set Password</h2>
                        <p>Your password must be 8 to 20 characters in length and contain alphanumeric characters (0-9, A-Z or a-z) or non-alphabetic characters (like %, #, $).</p>
                        <p>To set Password, enter it twice below and click Continue.</p>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @maxlength = "20", @class = "form-control", placeholder = "Password", required = "required" })
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ReEnterPassword, new { @maxlength = "20", @class = "form-control", placeholder = "Confirm Password", required = "required" })
                            <span asp-validation-for="ReEnterPassword"></span>
                        </div>
                        <div class="form-group">
                            <div class="cb-flex">
                                <div class="cb-link center-on-sm">
                                    @if (Model.BrandName == EnumList.BrandName.ONX.ToString())
                                    {
                                        <a class="link-dark" href="@appConfiguration.Value.OnxURI">Cancel</a>
                                    }
                                    else
                                    {
                                        <a class="link-dark" href="@appConfiguration.Value.DefaultURI">Cancel</a>
                                    }
                                </div>
                                <button type="submit" role="button" class="btn btn-secondary cb-btn cb-btn-text-primary" aria-pressed="false">Continue</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/245c020873.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/script.js" async defer></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>
</html>